#stats{
    -fx-background-color: #424549;
}
#titleLabel{
    -fx-background-color: #36393e;
}
#adminPane{
    -fx-background-color: #595a5c;
}

#managementButton{
    -fx-border-style: solid;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: white;
}
#managementButton:hover{
    -fx-background-color: #7289da;
}
#statsButton:hover{
    -fx-background-color: #7289da;
}
#statsButton{
    -fx-border-style: solid;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: white;
}
#selectedUserPane{
    -fx-background-color: #c8dbe3;
}
#searchLabel{
    -fx-border-style: solid;
    -fx-border-width: 1px 1px 1px 0;
    -fx-border-color: black;
    -fx-background-color: white;
}
#searchLabel:hover{
    -fx-background-color: #7289da;
}
#searchUsersTextField{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
#listView{
    -fx-border-style: solid;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: black;
}
.list-cell:selected {
   -fx-background-color: #7289da;
 }
 .list-cell{
   -fx-background-color: #424549;
 }
 .list-cell:hover{
    -fx-background-color: #7289da;
 }
#loginSelectedUser{
    -fx-font-weight: bold;
}
#name{
    -fx-font-weight: bold;
}
#numberBlocked{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#numberBlockedText{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#numberOnline{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#numberOnlineText{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#numberUsers{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#numberUsersText{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-effect: null;
    -fx-stroke: #7289da;
}
.chart-line-symbol {
    -fx-background-color: #7289da;
}
.chart-legend{
    -fx-fill: blue;
    -fx-background-color: transparent;
}
.chart-legend-item .text {
    -fx-fill: #7289da;
    -fx-font-weight: bold;
}