* {
    -fx-primary-color: 	#7289da;
    -fx-secondary-color: transparent;
    -fx-light-grey-color: #d1d1d1;
    -fx-purple-color: 	#7289da;
    -fx-black0-color: 	#424549;
    -fx-black1-color: 	#36393e;
    -fx-black2-color: 	#282b30;
    -fx-black3-color: 	#1e2124;

    /*-fx-focus-color: -fx-primary-color;*/
}


.root {
    -fx-background-color: -fx-black0-color;
    -fx-alignment: center;
}


#forgetPass, #loginInfo, #helperInfo, #registerInfo {
    -fx-text-fill: white;
}
#forgetPass2 {
    -fx-text-fill: -fx-purple-color;
    -fx-font-weight: bold;
}

#registerBtn, #loginBtn, #loginLogBtn, #registerRegBtn {
    -fx-background-color: -fx-purple-color;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold ;
    -fx-border-color: transparent;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left
}
.button:hover{
    -fx-cursor: hand;
}

#loginTitle, #registerTitle {
    -fx-font-size: 24;
    -fx-font-weight: bold ;
    -fx-text-fill: white;
}

#registerBtn:disabled, #loginBtn:disabled {
    -fx-background-color: transparent;
    -fx-border-color: -fx-purple-color;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left
    -fx-text-fill: -fx-purple-color;
    -fx-font-size: 14;
    -fx-font-weight: bold ;
    -fx-opacity: 1.0;
}
#age {
    -fx-background-color: transparent;
}

#age .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left
}
#age .arrow-button:hover {
    -fx-background-color: -fx-primary-color;

}
#age .arrow-button .arrow {
    -fx-background-color: white;
}
#age .cell {
    -fx-background-color: white;
}
#age .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
#age .cell:focused {
    -fx-background-color: -fx-light-grey-color;

}
#age .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
#age .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: black;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}
#age, #login, #password, #name, #surname, #email, #loginLog, #passwordLog {
    -fx-border-color: -fx-purple-color;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-border-width: 0 0 2 0; // top, right, bottom, left
    -fx-background-color: transparent;
}pg
.text-field {
    -fx-background-color: transparent;

}

