#chatScene {
    -fx-background-color: #424549;
}

#myListView .list-cell:even {
    -fx-background-color: #282b30;
    -fx-text-fill: white;

}
#myListView .list-cell:odd {
    -fx-background-color: #282b30;
    -fx-text-fill: white;
}

.list-cell {
    -fx-border-color: #7289da;
}

#myListView {
    -fx-background-radius: 5px;
}

#myListView .list-cell:hover {
    -fx-background-color: #7289da;
}

#myListView .list-cell:hover {
    -fx-background-color: #7289da;
}

#myListView .list-cell:selected {
    -fx-background-color: #7289da;
}

.text-field {
    -fx-background-color: #424549;
    -fx-text-fill: #c5c5c5;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-border-color: #515357;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-text-fill: white;
    -fx-border-color: #7289da;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #424549;
    -fx-text-fill: white;
    -fx-border-color: #515357;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-padding: 5px 10px;
    -fx-background-insets: 0;
}

.button:pressed {
    -fx-border-color: #7289da;
}

#addUsername {
    -fx-background-color: #33d019;
}

#rejectUsername {
    -fx-background-color: #980000;
}

#deleteUsername {
    -fx-background-color: #ff0000;
}

.rectangle {
    -fx-arc-width: 12;
    -fx-arc-height: 12;
}

#sendMessage{
    -fx-background-color: white;
}
#sendTextField{
    -fx-background-color: #1e2124;
    -fx-text-fill: white;
}

#sendLabel,#sendTextField{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-radius: 0 0 0 5px;
}

#listViewMessage .list-cell:selected {
    -fx-background-color: #7289da;
}

#listViewMessage .list-cell {
    -fx-background-color: #282b30;
}

#listViewMessage .list-cell:hover {
    -fx-background-color: #7289da;
}

#listViewMessage {
    -fx-background-radius: 5px 5px 0 0;
}

#userItem {
    -fx-background-radius: 5px;
}

#messageLogin {
    -fx-font-weight: bold;
}