#chatScene {
    -fx-background-color: #424549;
}

#myListView #myListView:even {
    -fx-background-color: #282b30;
    -fx-text-fill: white;

}
#myListView #myListView:odd {
    -fx-background-color: #282b30;
    -fx-text-fill: white;
}

#myListView {
    -fx-border-color: #7289da;
}

#myListView {
    -fx-background-radius: 5px;
}

.text-field {
    -fx-background-color: #424549;
    -fx-text-fill: #c5c5c5;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-border-color: #515357;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-text-fill: white;
    -fx-border-color: #7289da;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #424549;
    -fx-text-fill: white;
    -fx-border-color: #515357;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-padding: 5px 10px;
    -fx-background-insets: 0;
}

.button:pressed {
    -fx-border-color: #7289da;
}

#addUsername {
    -fx-background-color: #33d019;
}

#rejectUsername {
    -fx-background-color: #980000;
}

#deleteUsername {
    -fx-background-color: #ff0000;
}

.rectangle {
    -fx-arc-width: 12;
    -fx-arc-height: 12;
}
#sendMessage{
    -fx-background-color: white;
}
#sendTextField{
    -fx-background-color: white;
    -fx-text-fill: black;
}
#sendLabel,#sendTextField{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
#listViewMessage-cell:selected {
   -fx-background-color: #7289da;
 }
 .listViewMessage-cell{
   -fx-background-color: #424549;
 }
 .listViewMessage-cell:hover{
    -fx-background-color: #7289da;
 }

