#myAnchorPane {
    -fx-background-color: #424549;
}

.list-view .list-cell:even {
    -fx-background-color: #282b30;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #282b30;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #424549;
    -fx-text-fill: #c5c5c5;
}

.text-field:focused {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #424549;
    -fx-text-fill: white;
}